.main {
    width: 90%;
    background-color: white;
    margin: 0 auto;
}
.google{
margin:auto;
text-align: center;
}
.search{
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: #EEEEEE;
}
.box{
    float: left;
    padding: 15px;
    text-align: center;
    font-size: large;
    margin-top: 5px;
    margin-right: 5px;
    font-size: larger;
    height: 120px;
}
.box1{
    background-color: #7EE5DA;
    width: 35%;
}
.box2{
    background-color: #70CCC2;
    width: 26%;
}
.box3{
    background-color: #62B3AA;
    width: 35%;
    margin-right: 0;
}
.foot {
    float: left;
    text-align: center;
    height: 50px;
    width: 100%;
    margin-top: 5px;
    padding-top: 12px;
    font-size: large;
}